@page "/scrapeBACI"
@using DataLibrary.Models
@using DataLibrary.Services.SDATScrapers
@using DotNet.Testcontainers.Builders;
@using DotNet.Testcontainers.Containers;
@using OpenQA.Selenium.Firefox;
@using OpenQA.Selenium.Remote;
@using OpenQA.Selenium.Support.UI;
@using OpenQA.Selenium;
@inject BaltimoreCityScraper baltimoreCityScraper

<div class="row mb-3 mt-3">
    <div class="container">
        <div>
            <EditForm Model="@AmountToScrape">
                <label>Amount</label>
                <InputNumber TValue="int" @bind-Value="@AmountToScrape" DisplayName="Amount">@AmountToScrape</InputNumber>
            </EditForm>
            <button class="btn btn-primary" type="submit" @onclick="() => Scrape(AmountToScrape)">Scrape</button>
        </div>
    </div>
</div>

@code {
    
    private int AmountToScrape { get; set; }
    private async Task Scrape(int amountToScrape)
    {
        await baltimoreCityScraper.Scrape(AmountToScrape);
    }
}
