@page "/scrapeBaltimoreCity"
@using DataLibrary.Models
@using DataLibrary.Services.SDATScrapers
@using DotNet.Testcontainers.Builders;
@using DotNet.Testcontainers.Containers;
@using OpenQA.Selenium.Firefox;
@using OpenQA.Selenium.Remote;
@using OpenQA.Selenium.Support.UI;
@using OpenQA.Selenium;
@inject BaltimoreCityScraper baltimoreCityScraper

<div class="row mb-3 mt-3">
    <div class="container">
        <div>
            <EditForm Model="@AmountToScrape">
                <label>Amount</label>
                <InputNumber TValue="int" @bind-Value="@AmountToScrape" DisplayName="Amount">@AmountToScrape</InputNumber>
            </EditForm>
            <button class="btn btn-primary" type="submit" @onclick="() => Scrape(AmountToScrape)">Scrape</button>
            <button class="btn btn-danger" type="submit" @onclick="() => Stop()">Stop</button>
        </div>
    </div>
</div>

@code {
    FirefoxDriver FirefoxDriver;
    private readonly string FirefoxDriverPath = @"C:\WebDrivers\geckodriver.exe";
    private readonly string FirefoxProfile = @"C:\Users\Jason\AppData\Local\Mozilla\Firefox\Profiles\7mdph1dj.AspxConverter";
    WebDriverWait WebDriverWait;
    private int AmountToScrape { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await SpinUp();
    }

    private async Task SpinUp()
    {
        FirefoxProfile firefoxProfile = new(FirefoxProfile);
        FirefoxOptions firefoxOptions = new()
            {
                Profile = firefoxProfile,
            };
        //firefoxOptions.AddArguments("--headless");
        FirefoxDriver = new FirefoxDriver(FirefoxDriverPath, firefoxOptions, TimeSpan.FromSeconds(20));

        WebDriverWait = new(FirefoxDriver, TimeSpan.FromSeconds(20));
        WebDriverWait.IgnoreExceptionTypes(
            typeof(NoSuchElementException),
            typeof(StaleElementReferenceException),
            typeof(ElementNotSelectableException),
            typeof(ElementNotVisibleException));
    }

    private async Task Scrape(int amountToScrape)
    {
        await baltimoreCityScraper.Scrape(FirefoxDriver, WebDriverWait, AmountToScrape);
    }
    private void Stop()
    {
        FirefoxDriver.Quit();
    }
}
