@page "/scrapeBACI"
@using DataLibrary.Services.SDATScrapers
@inject BaltimoreCityScraper baltimoreCityScraper

<div class="row mb-3 mt-3">
    <div class="container">
        <div>
            <EditForm Model="@AmountToScrape">
                <label>Amount</label>
                <InputNumber TValue="int" @bind-Value="@AmountToScrape" DisplayName="Amount">@AmountToScrape</InputNumber>
            </EditForm>
            <button class="btn btn-primary" type="submit" @onclick="() => Scrape(AmountToScrape)">Scrape</button>
        </div>
    </div>
</div>

@code {
    
    private int AmountToScrape { get; set; }
    private async Task Scrape(int amountToScrape)
    {
        await baltimoreCityScraper.Scrape(AmountToScrape);
    }
}
